<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <div class="m-5 d-flex flex-column align-items-center justify-content-center">
        <div id="movie-details" class="container d-flex flex-column align-items-center"></div>
        <div class="border border-primary p-3 w-50 my-4 d-flex flex-column align-items-center">
            <h1> Welcome <%= name %></h1>
            <a href="/">Go to movies</a>
        </div>
        <div class="d-flex flex-column align-items-center flex-wrap justify-content-center mb-5">
            <% for(let watch of watchlist) { %>
                <div class="my-2">
                    <a href="movies/<%= watch.movie_id %>">Film!</a>
                </div>
            <% } %>
        </div>
    </div>
<%- include('./partials/footer') %>
