  <%- include('./partials/head') %>
  <%- include('./partials/header') %>
  <main class="main justify-content-center container-lg">
    <nav class="navbar search bg-light px-3">
      <div class="navbar-brand">
        <label for="genre" class="sr-only">Select a genre</label>
          <select name="genre" class="form-select text-center" id="genre">
              <option>--Select a genre--</option>
          <% for(let genre in genres) { %>
              <option><%= genre %></option>
          <% } %>
          </select>
      </div>
      <a role="button" id="top" class="btn btn-outline-primary">Top 20</a>
      <a role="button" id="now" class="btn btn-outline-primary">Now Playing</a>
      <a role="button" id="discover" class="btn btn-outline-primary">Discover</a>
      <% if (login) { %>
        <a role="button" id="random" class="btn btn-outline-primary">Random</a>
      <% } %>
      <div class="nav-link">
        <input type="search" class="form-control rounded text-center search" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
      </div>
    </nav>
        <%if(error && error.length > 0){%>
          <div class="alert alert-danger"><%=error%></div>
      <%}%>
      <%if(success && success.length > 0){%>
          <div class="alert alert-success"><%=success%></div>
      <%}%>
    <div class ="hero text-center mt-5 ">
      <h1 class="display-1">MOVIE RATER</h1>
      <% if (login) { %>
        <h2>Welcome Back</h2>
      <% } else { %> 
        <h2>Login to rate movies, discover hidden gems and grow your watchlist!</h2>
      <% } %> 
    </div>
    <div id="api-content" class="d-flex align-items-center flex-wrap justify-content-center mb-5"></div>
    <div class="d-flex align-items-center flex-wrap justify-content-center mb-5">
      <button id="more" type="button" class="btn btn-outline-primary" id='more'>Load More</button>
    </div>
    <div id="to-top" class="d-flex align-items-center flex-wrap justify-content-center mb-5 px-5 fixed-bottom">
      <a class="btn btn-outline-primary mb-5 p-3" href="#" role="button"> ↑ </a>
    </div>
    </main>
    <script src="/js/app.js" defer></script>
    <script src="/js/views.js" defer></script>
<%- include('./partials/footer') %>
